body {
  background-image: url("images/pianoKeys.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#start-container {
  background-color: rgba(255, 255, 255);
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  height: 30vh;
  align-content: center;
}
#start-btn {
  background-image: linear-gradient(to right, #ca5eeb, #66e0eb);
  color: rgb(0, 0, 0);
  border: solid 2px rgb(214, 104, 233);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 60%;
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}
#start-btn:hover {
  transform: scale(1.05);
  transition: 0.8s;
}
#quiz-container {
  background-color: rgba(255, 255, 255);
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
#question-text {
  font-size: 25px;
  font-weight: bold;
}
#answer-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
  height: 150px;
}
#answer-btns button {
  background-color: #f0f0f0;
  border: 3px solid black;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
#answer-btns button:hover {
  border: 3px solid rgb(66, 154, 221);
}
.correct {
  border: 3px solid rgb(52, 188, 72) !important;
}
.wrong {
  border: 3px solid rgb(224, 74, 74) !important;
}
.answer-btn:disabled {
  pointer-events: none;
  color: black;
}

